section.sidebar {
    font-family: $secondary-font;
    position: fixed;
    right: -216px;
    height: 100%;
    display: flex;
    transition: right 0.3s ease;
    z-index: 98;

    &:hover {
        right: 0;
    }

    .sidebar-toggle {
        padding: 10px;
        height: 100%;
        display: flex;

        img {
            width: 20px;
            align-self: center;
        }
    }

    .sidebar-main {
        background-color: rgb(24 24 24 / 96%);
        width: 274px;

        .sidebar-header {
            background-color: rgb(57 57 57 / 74%);
            color: #d5d7d8;
            text-transform: uppercase;
            padding: 20px 22px;
            margin-top: 2px;
            font-size: 14px;
            justify-content: space-between;
            display: flex;
        }

        .sidebar-item {
            display: flex;
            flex-direction: row;
            background-color: rgb(55 55 55 / 41%);
            color: #fff;
            padding: 5px;
            cursor: pointer;
            margin: 2px 0;
            align-items: center;

            img {
                max-width: 50px;
                max-height: 50px;
                object-fit: cover;
                margin-right: 5px;
            }

            .sidebar-text {
                .title {}

                span {
                    font-size: 12px;
                    color: #6dc8b8;
                }
            }
        }
    }


}