html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: $primary-font, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide scrollbars */
    &::-webkit-scrollbar {
        display: none;
    }
}

main {
    min-height: 100%;
}

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
}

nav {
    z-index: 9;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

figure {
    margin: 0;
}

ol,
ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    border: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
}

p {
    margin-top: 0px;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1366px;
    margin: 0px auto;
}

.desktop {
    display: flex;
}

.mobile {
    display: none;
}

@media screen and (max-width: 720px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }
}